/.bundle/
/gemfiles/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/dummy/log
/spec/dummy/tmp
/spec/dummy/db/*.sqlite3*
/spec/dummy/db/schema.rb
/spec/dummy/db/api_logger_schema.rb
/spec/tmp/*
.env
.byebug_history
# rspec failure tracking
.rspec_status
Gemfile.lock
